---
interface Props {
	url: string
	text: string
}

const { url, text } = Astro.props
---

<a
	href={url}
	class="animation-shine mt-8 bg-yellow-500 text-black py-3 px-6 rounded-full inline-block font-semibold relative overflow-hidden transition-colors hover:bg-yellow-600 hover:text-yellow-50">
	{text}
</a>
