---
interface Props {
	url: string
	text: string
}

const { url, text } = Astro.props
---

<a
	href={url}
	class="animation-shine mt-8 bg-blue-400 text-blue-950 border border-blue-600 py-3 px-6 rounded-full inline-block font-semibold relative overflow-hidden transition-colors hover:bg-blue-700 hover:text-blue-50 hover:border-blue-900 uppercase shadow-blue-900 hover:shadow-blue-950 hover:shadow-lg shadow-md">
	{text}
</a>
