---
import { name } from '@/utils'
import board from '@/images/IMG_3414.JPG'
import { Image } from 'astro:assets'
---

<!-- About Section -->
<section
	id="about"
	class="py-8 min-h-[75dvh] flex items-center">
	<div
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-yellow-900">
		<h2 class="text-4xl font-extrabold text-yellow-950">Sobre Nosotros</h2>
		<div
			class="mt-10 flex flex-col lg:flex-row lg:items-center lg:justify-between gap-8">
			<div class="lg:w-1/2">
				<h3
					class="text-xl font-bold leading-8 sm:text-3xl sm:leading-9">
					La Experiencia {name}
				</h3>
				<p class="mt-4 text-lg">
					Nos enorgullecemos de ofrecer una experiencia única y
					personalizada. Nuestro equipo de barberos profesionales está
					dedicado a proporcionar los mejores servicios de corte,
					afeitado y estilismo.
				</p>
			</div>
			<div class="mt-10 lg:mt-0 lg:w-1/2">
				<Image
					src={board}
					alt="Cartel"
					class="w-full max-h-full object-cover rounded-lg mix-blend-multiply contrast-150"
				/>
			</div>
		</div>
	</div>
</section>
