---
import { name } from '@/utils'
---

<!-- About Section -->
<section
	id="about"
	class="py-16 bg-white lg:min-h-[60svh] flex items-center">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
		<h2 class="text-4xl font-extrabold text-gray-900">Sobre Nosotros</h2>
		<div
			class="mt-10 flex flex-col lg:flex-row lg:items-center lg:justify-between">
			<div class="lg:w-1/2">
				<h3
					class="text-xl font-bold leading-8 text-gray-700 sm:text-3xl sm:leading-9">
					La Experiencia {name}
				</h3>
				<p class="mt-4 text-gray-600">
					En Urban Edge Barbería, nos enorgullecemos de ofrecer una
					experiencia única y personalizada. Nuestro equipo de
					barberos profesionales está dedicado a proporcionar los
					mejores servicios de corte, afeitado y estilismo.
				</p>
			</div>
			<div class="mt-10 lg:mt-0 lg:w-1/2">
				<img
					class="w-full aspect-video object-cover rounded-lg"
					src="assets/images/IMG_8646.JPG"
					alt="Barbería"
				/>
			</div>
		</div>
	</div>
</section>
