---
import { name } from '@/utils'
---

<!-- About Section -->
<section
	id="about"
	class="py-16 h-screen flex items-center bg-gradient-to-br from-yellow-100 via-yellow-50 to-yellow-200">
	<div
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-yellow-900">
		<h2 class="text-4xl font-extrabold text-yellow-950">Sobre Nosotros</h2>
		<div
			class="mt-10 flex flex-col lg:flex-row lg:items-center lg:justify-between">
			<div class="lg:w-1/2">
				<h3
					class="text-xl font-bold leading-8 sm:text-3xl sm:leading-9">
					La Experiencia {name}
				</h3>
				<p class="mt-4 text-lg">
					Nos enorgullecemos de ofrecer una experiencia única y
					personalizada. Nuestro equipo de barberos profesionales está
					dedicado a proporcionar los mejores servicios de corte,
					afeitado y estilismo.
				</p>
			</div>
			<div class="mt-10 lg:mt-0 lg:w-1/2">
				<img
					class="w-full max-h-full object-cover rounded-lg mix-blend-multiply contrast-150"
					src="assets/images/IMG_8646.JPG"
					alt="Barbería"
				/>
			</div>
		</div>
	</div>
</section>
