---
import ButtonCta from './shared/button-cta.astro'
---

<!-- Contact Section -->
<section
	id="contact"
	class="bg-[#322d2a]">
	<div
		class="w-full h-[75dvh] mx-auto flex flex-col lg:flex-row justify-center items-center">
		<div class="mx-auto px-4 sm:px-6 lg:px-8 pb-10 lg:pb-0 text-center">
			<h2 class="text-4xl font-extrabold text-yellow-100">Contáctanos</h2>
			<div class="mt-8">
				<p class="text-lg leading-6 text-yellow-200">
					Llámanos al (555) 123-4567 o visítanos en nuestra ubicación.
				</p>

				<ButtonCta
					url="#"
					text="Envíanos un mensaje"
				/>
			</div>
		</div>
		<iframe
			class="bg-yellow-950 w-full h-full"
			src="https://api.maptiler.com/maps/streets-v2/?key=HRGZGVGL1FTQbbQRIpHr#14.3/38.59984/-0.04803"
		></iframe>
	</div>
</section>
