---
import ButtonCta from './shared/button-cta.astro'
---

<!-- Contact Section -->
<section
	id="contact"
	class="py-16 bg-gray-100">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
		<h2 class="text-4xl font-extrabold text-gray-900">Contáctanos</h2>
		<div class="mt-8">
			<p class="text-lg leading-6 text-gray-500">
				Llámanos al (555) 123-4567 o visítanos en nuestra ubicación.
			</p>

			<ButtonCta
				url="#"
				text="Envíanos un mensaje"
			/>
		</div>
	</div>
</section>
