---
import { name } from '@/utils'

const year = new Date().getFullYear()
---

<!-- Footer -->
<footer class="bg-[#322d2a] py-12">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<p class="text-center text-yellow-200">
			© {year}
			{name}. Todos los derechos reservados.
		</p>
	</div>
</footer>
