---
import ButtonCta from './shared/button-cta.astro'
import { name } from '@/utils'
---

<!-- Hero Section -->
<div
	class="relative bg-cover bg-center h-screen"
	style="background-image: url('src/images/IMG_7470.JPG');">
	<div class="absolute inset-0 bg-black opacity-50"></div>
	<div class="relative z-10 flex items-center justify-center h-full">
		<div class="text-center text-yellow-100">
			<h2 class="text-4xl font-light uppercase tracking-widest mb-4">
				Bienvenido a
			</h2>
			<h1 class="text-yellow-50 text-8xl font-bold font-display">
				{name}
			</h1>
			<p class="mt-4 text-xl">
				Cortes y estilos para caballeros por José Angel Mederos
			</p>

			<ButtonCta
				url="#contact"
				text="Reserva tu cita"
			/>
		</div>
	</div>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

		.font-display {
			font-family: 'Oswald', sans-serif;
		}

		.font-light {
			font-family: 'Poppins', sans-serif;
		}
	</style>
</div>
