---
import { name } from '@/utils'
---

<!-- Navbar -->
<nav class="bg-[#322d2a] text-yellow-100 py-2 fixed top-0 right-0 left-0 z-50">
	<div
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
		<div class="flex items-center">
			<a
				href="#"
				class="text-3xl font-bold relative overflow-hidden inline-block animation-shine">
				<img
					src="assets/images/BRAND_LOGO.png"
					alt="Tyson barbershop brand logo."
					width="192"
					class="w-48 rounded"
				/>
			</a>
		</div>
		<div class="hidden lg:flex space-x-6 text-lg items-center">
			<a
				href="#"
				class="hover:text-yellow-600 transition duration-300 ease-in-out"
				>Inicio</a
			>
			<a
				href="#services"
				class="hover:text-yellow-600 transition duration-300 ease-in-out"
				>Servicios</a
			>
			<a
				href="#about"
				class="hover:text-yellow-600 transition duration-300 ease-in-out"
				>Nosotros</a
			>
			<a
				href="#contact"
				class="border border-yellow-600 hover:bg-yellow-600 hover:text-yellow-950 transition-colors duration-300 ease-in-out px-4 py-2 rounded-full relative animation-shine overflow-hidden"
				>Contacto</a
			>
		</div>
		<div class="lg:hidden flex items-center">
			<button
				id="hamburger"
				class="hamburger focus:outline-none">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</div>
	<div
		id="mobileMenu"
		class="hidden lg:hidden bg-[#322d2a] text-yellow-100 space-y-4 p-4">
		<a
			href="#"
			class="block hover:text-yellow-600 transition duration-300 ease-in-out"
			>Inicio</a
		>
		<a
			href="#services"
			class="block hover:text-yellow-600 transition duration-300 ease-in-out"
			>Servicios</a
		>
		<a
			href="#about"
			class="block hover:text-yellow-600 transition duration-300 ease-in-out"
			>Nosotros</a
		>
		<a
			href="#contact"
			class="block w-max border border-yellow-600 hover:bg-yellow-600 hover:text-yellow-950 transition duration-300 ease-in-out px-4 py-2 rounded-full"
			>Contacto</a
		>
	</div>
</nav>

<style>
	.hamburger span {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px 0;
		background-color: #ca8a04;
		transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}

	.hamburger.open span:nth-child(1) {
		transform: rotate(45deg) translate(6px, 5px);
	}

	.hamburger.open span:nth-child(2) {
		opacity: 0;
		transform: translateX(-20px);
	}

	.hamburger.open span:nth-child(3) {
		transform: rotate(-45deg) translate(6px, -5px);
	}

	.hamburger {
		transition: all 0.5s ease;
	}

	.hamburger:hover span {
		background-color: #ca8a04;
		transform: scale(1.1);
	}
</style>

<script is:inline>
	const hamburger = document.getElementById('hamburger')
	const mobileMenu = document.getElementById('mobileMenu')

	hamburger.addEventListener('click', () => {
		hamburger.classList.toggle('open')
		mobileMenu.classList.toggle('hidden')
	})
</script>
