---
import { Image } from 'astro:assets'
import backGradient from '@/images/IMG_1109.JPG'
import sideAndBeard from '@/images/IMG_6549.JPG'
import modernStyles from '@/images/IMG_9109.JPG'
import longHair from '@/images/IMG_8893.JPG'
---

<div
	class="relative min-h-[90dvh] flex items-center justify-center p-4 px-4 mx-auto sm:px-6 lg:px-8 py-26 text-yellow-900 overflow-hidden bg-pattern">
	<div class="relative max-w-screen-xl">
		<div
			class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
			<div class="ml-auto lg:col-start-2 lg:max-w-2xl">
				<h2
					class="text-center lg:text-left text-4xl font-extrabold text-yellow-950">
					Nuestros Servicios
				</h2>
				<h3
					class="text-center lg:text-left mt-2 text-xl font-bold leading-8 sm:text-3xl sm:leading-9">
					La Mejor Experiencia en Barbería
				</h3>
				<div class="w-full flex justify-center lg:justify-start">
					<p
						class="max-w-prose text-center lg:text-left mt-4 text-lg leading-6">
						Vive una experiencia de lujo con nuestros servicios
						personalizados. Nos dedicamos a que te sientas y luzcas
						increíble. Relájate en un ambiente cómodo mientras
						nuestros expertos se encargan de realzar tu estilo con
						precisión y cuidado excepcionales.
					</p>
				</div>
				<ul class="gap-6 mt-8 grid grid-cols-2">
					<li class="mt-6 lg:mt-0">
						<div class="flex">
							<span
								class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-yellow-900 bg-yellow-500 shadow-yellow-700 shadow-md rounded-full">
								<svg
									class="w-4 h-4"
									viewBox="0 0 20 20"
									fill="currentColor">
									<path
										fill-rule="evenodd"
										d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
										clip-rule="evenodd">
									</path>
								</svg>
							</span>
							<span
								class="ml-4 text-sm lg:text-base font-medium leading-6">
								Corte Clásico
							</span>
						</div>
					</li>
					<li class="mt-6 lg:mt-0">
						<div class="flex">
							<span
								class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-yellow-900 bg-yellow-500 shadow-yellow-700 shadow-md rounded-full">
								<svg
									class="w-4 h-4"
									viewBox="0 0 20 20"
									fill="currentColor">
									<path
										fill-rule="evenodd"
										d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
										clip-rule="evenodd">
									</path>
								</svg>
							</span>
							<span
								class="ml-4 text-sm lg:text-base font-medium leading-6">
								Afeitado Tradicional
							</span>
						</div>
					</li>
					<li class="mt-6 lg:mt-0">
						<div class="flex">
							<span
								class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-yellow-900 bg-yellow-500 shadow-yellow-700 shadow-md rounded-full">
								<svg
									class="w-4 h-4"
									viewBox="0 0 20 20"
									fill="currentColor">
									<path
										fill-rule="evenodd"
										d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
										clip-rule="evenodd">
									</path>
								</svg>
							</span>
							<span
								class="ml-4 text-sm lg:text-base font-medium leading-6">
								Estilismo Moderno
							</span>
						</div>
					</li>
					<li class="mt-6 lg:mt-0">
						<div class="flex">
							<span
								class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-yellow-900 bg-yellow-500 shadow-yellow-700 shadow-md rounded-full">
								<svg
									class="w-4 h-4"
									viewBox="0 0 20 20"
									fill="currentColor">
									<path
										fill-rule="evenodd"
										d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
										clip-rule="evenodd">
									</path>
								</svg>
							</span>
							<span
								class="ml-4 text-sm lg:text-base font-medium leading-6">
								Masaje Capilar
							</span>
						</div>
					</li>
				</ul>
			</div>
			<div
				class="relative mt-10 lg:-mx-4 relative-20 lg:mt-0 lg:col-start-1">
				<div class="relative space-y-4">
					<div
						class="flex items-end justify-center space-x-4 lg:justify-start">
						<Image
							src={backGradient}
							alt="Back gradient style."
							loading="lazy"
							width="200"
							class="w-40 rounded-lg shadow-yellow-950 shadow-lg lg:w-56"
						/>
						<Image
							src={sideAndBeard}
							alt="Side and beard style."
							loading="lazy"
							width="260"
							class="w-40 rounded-lg shadow-yellow-950 shadow-lg lg:w-64"
						/>
					</div>
					<div
						class="flex items-start justify-center lg:ml-12 space-x-4 lg:justify-start">
						<Image
							src={modernStyles}
							alt="Modern style."
							loading="lazy"
							width="170"
							class="w-40 rounded-lg shadow-yellow-950 shadow-lg lg:w-40"
						/>
						<Image
							src={longHair}
							alt="Long hair style."
							loading="lazy"
							width="200"
							class="w-40 rounded-lg shadow-yellow-950 shadow-lg lg:w-56"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style is:inline>
	.bg-pattern::before {
		content: '';
		position: absolute;
		top: -50%;
		left: -50%;
		width: 200%;
		height: 200%;
		background-image: url('src/images/IMG_8646.JPG');
		background-size: 500px;
		background-repeat: repeat;
		mix-blend-mode: multiply;
		@apply contrast-150;
		background-color: #fef08a;
		opacity: 0.1;
		filter: saturate(50%);
		transform: rotate(30deg);
		transform-origin: center;
		z-index: 0;
	}
</style>
