<div class="flex items-center justify-center px-5 py-5 mt-10 lg:mt-0">
	<div
		class="w-full max-w-xl px-5 pt-5 pb-10 mx-auto text-gray-800 bg-white rounded-lg shadow-lg">
		<div class="w-full pt-1 pb-5 mx-auto -mt-16 text-center">
			<a
				href="#"
				class="relative block">
				<img
					alt="profil"
					src="./assets/images/black.jpg"
					class="mx-auto object-cover rounded-full h-20 w-20 bg-gray-300"
				/>
			</a>
		</div>
		<div class="w-full mb-10">
			<div class="h-3 text-3xl leading-tight text-left text-indigo-500">
				“
			</div>
			<p class="px-5 text-sm text-center text-gray-600">
				Desde mi primera visita, supe que esta barbería se destacaba. El
				equipo es profesional y amable, y el ambiente es perfecto para
				relajarse mientras te cortan el cabello. La atención al detalle
				es excelente, y siempre salgo sintiéndome y luciendo genial.
				¡Sin duda, la mejor barbería de la ciudad!
			</p>
			<div
				class="h-3 -mt-3 text-3xl leading-tight text-right text-indigo-500">
				”
			</div>
		</div>
		<div class="w-full">
			<p class="font-bold text-center text-indigo-500 text-md">
				Tom Hardy
			</p>
			<p class="text-xs text-center text-gray-500">@thom.hardy</p>
		</div>
	</div>
</div>
