<!-- About Section -->
<section
	id="about"
	class="py-16 min-h-[90dvh] flex items-center">
	<div class="max-w-7xl mx-auto px-4 text-center text-indigo-300">
		<h2 class="text-4xl font-extrabold text-indigo-100">Nuestro Trabajo</h2>
		<div class="mt-10 grid grid-cols-2 md:grid-cols-6 md:grid-rows-4 gap-4">
			<div
				class="bg-slate-950 flex justify-center items-center col-start-1 md:col-span-2 row-start-1 row-span-4 rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_9207.JPG"
					alt="six"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
			<div
				class="bg-slate-950 flex justify-center items-center md:col-span-2 row-span-2 rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_1109.JPG"
					alt="one"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
			<div
				class="bg-slate-950 flex justify-center items-center md:col-start-5 rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_6549.JPG"
					alt="two"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
			<div
				class="bg-slate-950 flex justify-center items-center rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_7470.JPG"
					alt="three"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
			<div
				class="bg-slate-950 flex justify-center items-center rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_8006.JPG"
					alt="four"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
			<div
				class="bg-slate-950 flex justify-center items-center rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_8893.JPG"
					alt="five"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
			<div
				class="bg-slate-950 flex justify-center items-center row-span-2 rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_7024.JPG"
					alt="four"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
			<div
				class="bg-slate-950 flex justify-center items-center row-span-2 rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_8414.JPG"
					alt="five"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
			<div
				class="bg-slate-950 flex justify-center items-center col-span-2 row-span-2 rounded-md overflow-hidden group">
				<img
					src="assets/images/IMG_9109.JPG"
					alt="six"
					loading="lazy"
					class="w-full h-full object-cover transition-all duration-300 ease-in-out group-hover:saturate-150 group-hover:scale-110 group-hover:rotate-2"
				/>
			</div>
		</div>
	</div>
</section>
