---
const videoId = 'https://www.youtube.com/embed/zSv22gphGKA?si=AByZ1uEvc0EDkCVj' // Reemplaza con tu ID de video de YouTube
---

<div class="bg-gray-900 text-white px-10 py-20">
	<div
		class="flex flex-col items-center justify-center h-full mb-10 text-center">
		<p class="text-lg md:text-xl max-w-prose">
			Descubre nuestra barbería, nuestros servicios y la experiencia única
			que ofrecemos a nuestros clientes. ¡Mira el video para conocer más!
		</p>
	</div>
	<div class="inset-0 w-full flex justify-center items-center">
		<iframe
			src={`https://www.youtube.com/embed/${videoId}?autoplay=1&mute=1`}
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen
			class="w-full max-w-5xl h-full aspect-video object-cover rounded-lg"
		></iframe>
	</div>
</div>
