body {
  scroll-behavior: smooth;
}

.animation-shine::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: left 0.3s ease-in-out;
}

.animation-shine:hover::after {
  left: 100%;
}